<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TA</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
        <ul class="nav-main">
            <li>TA</li>
            <li id="li-1">艺术鉴赏</li>
            <li id="li-2">工作室</li>
            <li class="sign"><span>English</span>｜<span>中文</span></li>
        </ul>
    </header>
    <%# 下拉框%>
    <%# <div id="box-1" class="hidden-box">
      <ul>
        <li><a href="">作品推荐</a></li>
        <li><a href="">艺术家</a></li>
      </ul>
    </div>%>
    <%- body %>
  </body>
</html>
